.footer{
    &__encuentra{
        margin-top: 25px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding-top: 25px;
        padding-left: 5%;
        height: 60px;
        display: flex;
        flex-direction: row;
        &__texto1{
            &--p{
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        &__texto2{
            padding-left: 2%;
            &--p{
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }
        }
    }

    &__enlaces{
        background-color: #F6F6F6;
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        &__interes{
            padding-right: 20%;
        }
        &__descubre{
            padding-right: 20%;
        }
    }

    &__iconos{
        padding-left: 5%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #F6F6F6;
    }
}

.elemento1{
    color: grey;
    font-size: 12px;
    padding-bottom: 10px;
}

.elemento2{
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.elemento2:hover{
    color: blue;
    cursor: pointer;
}

.iconosFooter{
    width: 28px;
    height: 28px;
    padding-right: 10px;
}